<ion-card>
  <div class="backdrop">
    <div class="background-one"></div>
    <div class="half-ellipse"></div>
    <div class="background-two"></div>
    <div class="background-three"></div>
  </div>
  <ion-card-header class="ion-text-center">

    <input #fileUpload (change)="onFileSelect($event)" style="display: none" type="file" />

    <ion-avatar (click)="addPhotoToGallery()" style="cursor: pointer" class="ion-margin-auto">
      <ion-img *ngIf="(user | async).avatar" [src]="(user | async).avatar">
      </ion-img>
    </ion-avatar>

    <ion-card-title class="ion-margin-top"> {{ (user | async).firstname }} {{ (user
      | async).lastname }} </ion-card-title>
      <ion-badge color="dark" style="margin-top: 5px;">
        {{(user | async).isPublished ? 'Published' : 'Not Published'}}
        <!-- {{isPublished === 'walking' ? 'steps' : 'km'}} -->
      </ion-badge>
  </ion-card-header>

  <ion-card-content>
    <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="camera">CAMERA!</ion-icon>
      </ion-fab-button>
    </ion-fab> -->
    <!-- <div>
      <span>Who viewed your profile</span>
      <ion-text color="primary">467</ion-text>
    </div> -->
    <div class="connections" style="cursor: pointer" routerLink="/followers">
      <span>Followers</span>
      <ion-text color="primary">{{(user |async).followers.length}}</ion-text>
    </div>
    <div class="connections" style="cursor: pointer" routerLink="/following">
      <span>Following</span>
      <ion-text color="primary">{{(user |async).following.length}}</ion-text>
    </div>
    <ion-card-subtitle class="ion-text-center" color="dark">Manage your Connections</ion-card-subtitle>
  </ion-card-content>
</ion-card>